
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}
button,textarea,input{outline: none}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

body {
  line-height: 1;

}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom */
a {
  color: #7e8c8d;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
}

li {
  list-style: none;
}

html, body {
  width: 100%;
  padding: 0;
  margin: 0;
  min-width:320px;
}
button:hover{
  cursor: pointer;
}
body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
}
html {
  font-size : 20px;
}
@media only screen and (min-width: 300px) and (max-width: 435px){
  html {
    font-size: 12px !important;
  }
  .main-center{
    width: 100%;
  }
}
@media screen and (min-width: 436px) and (max-width: 457px){
  html {
    font-size: 14px !important;
  }
  main{
    width: 100%;
  }
  #cc .main-center{
    width: 100%;
  }
}
@media screen and (min-width: 458px) and (max-width: 480px){
  html {
    font-size: 18px !important;
  }
  main{
    width: 100%;
  }
 .main-center{
   width: 100%;
  }
}
@media screen and (min-width: 481px) and (max-width: 568px){
  html {
    font-size: 25px !important;
  }
}
@media  screen and (min-width: 569px) and (max-width: 640px){
  html {
    font-size: 30px !important;
  }
}
@media  screen and (min-width: 641px) and (max-width: 959px){
  html {
    font-size: 35px !important;
  }
}
@media  screen and (min-width: 960px) and (max-width: 1199px){
  html {
    font-size: 40px !important;
  }
}
@media only screen and (min-width: 1200px){
  html {
    font-size: 45px !important;
  }
}
.icon {
  width: 25px;
  height: 25px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}


.main{
  max-width: 80%;
  height: 100%;
  margin: 0 auto;
}

#cc{
  max-width: 100%;
  background: linear-gradient(to top, rgba(102, 121, 48, 0.5) 0%, rgba(36, 121, 76, 0.8) 100%);
  padding:2% 0;
  position: relative;
}

textarea{
  resize:none
}

/*------------------*/
@keyframes pup {
  0%{
    transform: scale(0.9) rotate(3deg);
    background-color: #e8e55d;
  }

  100%{
    transform: scale(1) rotate(-3deg);
    background-color: #1ae61a;
  }
}
